<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ask Me</title>
    <link rel="stylesheet" href="./assets/styles/stylesheet.css" />
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">Ask Me</div>
      <progress-bar
        :questionin="questionin"
        :totalquestions="questions.length"
        v-if="!submitted"
      ></progress-bar>
      <question-box
        :questionin="questionin"
        :questions="questions"
        :candidateanswers="candidateanswers"
        v-if="!submitted"
        @prev-question="prevQuestion"
        @next-question="nextQuestion"
        @submit-answers="submitAnswers"
      >
      </question-box>
      <final-score
        v-if="submitted"
        :finalscore="finalscore"
        :totalquestions="questions.length"
        @retake="retakeExam"
      >
      </final-score>
    </div>

    <script src="./index.js"></script>

    <script src="./components/ProgressBar.js"></script>
    <script src="./components/questionBox.js"></script>
    <script src="./components/finalScore.js"></script>

    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
