* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: #0369cd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 70px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.progress p {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 900;
}

.progress-bar {
  height: 2px;
  width: 500px;
  background-color: rgba(157, 157, 157, 0.6);
  border-radius: 2px;
  margin-bottom: 40px;
}

.current-progress {
  background-color: rgba(3, 105, 205, 0.9);
  width: 0px;
  height: 100%;
}
.question-box {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(123, 150, 212, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(123, 150, 212, 0.57);
  box-shadow: 1px 1px 5px rgba(123, 150, 212, 0.57);
}

.question-box__question {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
}

.question-box__option {
  margin-bottom: 10px;
  align-items: left;
  font-size: 17px;
}

.question-box__option label {
  margin-left: 20px;
}

.selected-option {
  color: #0369cd;
}

.button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #0369cd;
  outline: none;
  border: none;
}

.button:hover {
  background-color: #55a4f1;
}

.next {
  position: absolute;
  right: 0;
}
.back {
  position: absolute;
  left: 0;
}

.submit {
  position: absolute;
  right: 0;
  background-color: #000;
}

.submit:hover {
  background-color: #9d9d9d;
}
.ctrl-btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
